extends ../layout.jade

block content
	.customContainer
		.mdl-grid
			.mdl-cell.mdl-cell--12-col.mdl-cell--8-col-tablet
				.card-header.adminmain.mdl-card.mdl-shadow--2dp
					.mdl-card__title
						h2.mdl-card__title-text=title
					.mdl-card__actions.mdl-card--border
					.mdl-card__supporting-text
					
					
						//- PLEASE FEEL FREE TO IMPROVE 
					
						//- GEOFFREY
						h4="Geoffrey nodes"
						span="Geoffrey nodes serve the front end that you are currently looking at "
						br
						a(href="/admin/monitoring/geoffrey") Go To Geoffrey Dashboard
						br
						br
						
						//- CARLTON
						h4="Carlton nodes"
						span="Carlton nodes handle the terms management"
						br
						a(href="/admin/monitoring/carlton") Go To Carlton Dashboard
						br
						br
						
						//- JAZZ
						h4="Jazz nodes"
						span="Jazz nodes fetch tweets from the Twitter Stream API and save them to the datastore"
						br
						a(href="/admin/monitoring/jazz") Go To Jazz Dashboard
						br
						br
						
						//- WILL
						h4="Will nodes"
						span="Will nodes do the sentiment analysis and the heavy-lifiting part of the aggregation "
						br
						a(href="/admin/monitoring/will") Go To Will Dashboard
						br
						br
						
