doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/material-design-lite/material.min.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='https://code.jquery.com/jquery-2.2.2.min.js')


	body
		.header-image.mdl-layout.mdl-js-layout
			header.mdl-layout__header.mdl-layout__header--transparent
				.mdl-layout__header-row
					span.mdl-layout-title.mdl-badge(data-badge="alpha") Geoffrey
					.mdl-layout-spacer
					nav.mdl-navigation
						if admin
							a.mdl-navigation__link(href="/admin/main") Home
							a.mdl-navigation__link(href="/admin/monitoring/geoffrey") Geoffrey
							a.mdl-navigation__link(href="/admin/monitoring/carlton") Carlton
							a.mdl-navigation__link(href="/admin/monitoring/jazz") Jazz
							a.mdl-navigation__link(href="/admin/monitoring/will") Will
							form#logout(method='post' action='/logout')
								a.mdl-navigation__link(href='#', onclick='logout()') Logout (#{email})
						else if user
							a.mdl-navigation__link(href="/company/main") Home
							a.mdl-navigation__link(href="/company/term-management") Term-Management
							a.mdl-navigation__link(href="/company/viz") Sentiment-Analysis
							form#logout(method='post' action='/logout')
								a.mdl-navigation__link(href='#', onclick='logout()') Logout (#{email})
						else
							a.mdl-navigation__link(href="/") Home
							a.mdl-navigation__link(href="/register") Create account
			.mdl-layout__drawer
				span.mdl-layout-title Geoffrey
				nav.mdl-navigation
					if admin
						a.mdl-navigation__link(href="/admin/main") Home
						a.mdl-navigation__link(href="/admin/monitoring/geoffrey") Geoffrey
						a.mdl-navigation__link(href="/admin/monitoring/carlton") Carlton
						a.mdl-navigation__link(href="/admin/monitoring/jazz") Jazz
						a.mdl-navigation__link(href="/admin/monitoring/will") Will
						form#logout(method='post' action='/logout')
							a.mdl-navigation__link(href='#', onclick='logout()') Logout (#{email})
					else if user
						a.mdl-navigation__link(href="/company/main") Home
						a.mdl-navigation__link(href="/company/term-management") Term-Management
						a.mdl-navigation__link(href="/company/viz") Sentiment-Analysis
						form#logout(method='post' action='/logout')
							a.mdl-navigation__link(href='#', onclick='logout()') Logout (#{email})
					else
						a.mdl-navigation__link(href="/") Home
						a.mdl-navigation__link(href="/register") Create account
			main.mdl-layout__content
				block content
			
			footer.mdl-mini-footer
				.mdl-mini-footer__left-section
					.mdl-logo Geoffrey
				.mdl-mini-footer__right-section
					ul.mdl-mini-footer__link-list
						li
							span Advanced Software Engineering Project 2016

		script.
			var logout = function() {
				document.getElementById('logout').submit()
			}
		script(src='/material-design-lite/material.min.js')
